<html>
  <head>
  	<title>Pruebas Mibot_v2.1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
   <body>
   	<center>Diccionario MiBot_v2.1</center> <br/>
   	Palabra a buscar:
     <input type='text' id='palabra'>
     <button type='button' id ='retrieve'>Consultar</button>
     <div id='wordResult'></div>
   </body>
  <script>
    $(document).ready(function() {
       $('#retrieve').click(function(){
           var palabra = $('#palabra').val();
           $.ajax({
           url: "/get_dic",
           dataType: "json",
           data: {palabra: palabra},
           success: function(response) {
           //console.log(JSON.stringify(response))
           //respuesta=response
           var htmls = ''
           htmls='<div>'+'Equivale: '+response+'</div>'
           $('#wordResult').html(htmls);
           
           //$("#wordResult").append(respuesta)
           //console.log(response)
          },
          error: function(xhr) {
            //Do Something to handle error
         }
         });
       });
    });
  </script>
</html>